
*{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body, html{
  width: 100%;
  height: 100%;
  /*font-family: 'Abel', sans-serif;
  font-family: 'Edu TAS Beginner', cursive;
  font-family: 'Quicksand', sans-serif;
  font-family: 'Roboto', sans-serif;*/
  font-family: 'Quicksand', sans-serif;
  background-color: #14213d;
}

.container{
  width: 100%;
  height: 100vh; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}



header {
  display: flex;
  justify-content: space-between
  align-items: center;

  
}

.list-items {
  list-style: none;
}

.list-items li {
  display: inline-block;
  padding: 0 20px
}

li a {
  display:block;
  padding: 10px;
  color: white ;
  text-decoration: none;
  transition: 500ms;
  
}
li a:hover {
  color: #FCA311;
}

.underline {
  position: relative;
}

.underline::before {
  content: ' ';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 2px;
  background-color: #FCA311;
  transition: width 1s cubic-bezier(0.25, 1, 0.5, 1)
}

@media (hover: hover) and (pointer: fine) {
  .underline:hover::before{
    left: 0;
    right: auto;
    width: 100%;
  }
}


nav {
  margin:auto !important;
  text-align:center !important;
  position: fixed;
  z-index: 2;
  background-color:rgba(0, 0, 0, 0.25);
   -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  justify-content: center;
  align-items: center;
  width:100%;
  margin:0 !important;
  padding-bottom:10px !important;
  padding-top: 10px !important;
}

.about-page {
  text-align: center;
  height: 99vh;
}

.team_underline {
  width: 60px;
  color: orange;
  height: 2px;
  border-radius: 5px;
  background-color: orange;
  margin: 0 auto;
  margin-bottom: 60px;
  margin-top: 10px;
}

p.catchphrase {
  font-size: 24px;
  max-width: 100%;
  width: 30%;
  line-height: 40px;
  margin: 0 auto;
  margin-bottom: 60px;
}
