@import url('https://fonts.googleapis.com/css2?family=Abel&family=Edu+TAS+Beginner:wght@500&family=Quicksand:wght@300&family=Roboto:wght@300&display=swap');

*{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body, html{
  width: 100%;
  height: 100%;
  /*font-family: 'Abel', sans-serif;
  font-family: 'Edu TAS Beginner', cursive;
  font-family: 'Quicksand', sans-serif;
  font-family: 'Roboto', sans-serif;*/
  font-family: 'Quicksand', sans-serif;
  background-color: #14213d;
}

.container{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.row{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.row-2{
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.one-of-two{
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 50px;
}
/* NAVIGATION */

header {
  display: flex;
  justify-content: space-between
  align-items: center;

  
}

.list-items {
  list-style: none;
}

.list-items li {
  display: inline-block;
  padding: 0 20px
}

li a {
  display:block;
  padding: 10px;
  color: white ;
  text-decoration: none;
  transition: 500ms;
  
}
li a:hover {
  color: #FCA311;
}

.underline {
  position: relative;
}

.underline::before {
  content: ' ';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 2px;
  background-color: #FCA311;
  transition: width 1s cubic-bezier(0.25, 1, 0.5, 1)
}

@media (hover: hover) and (pointer: fine) {
  .underline:hover::before{
    left: 0;
    right: auto;
    width: 100%;
  }
}

/*  */
/*  */
/*  */

.hero-section {
   display:flex;
}
.hero-home-image {
  width: 600px;
  float:right;
  display:flex;
}
.hero-text {
  margin-top: 120px;
  color:white;
  line-height: 50px;
  size: 32px
}
.good-button {
  background-color:black;
  color:white;
  border-radius: 7px;
  padding: 15px;
  margin:10px;
  text-decoration:none;
  transition: 350ms;
   border: 1px solid transparent;
  text-align:left;
}
.good-button:hover {
   background-color:#212121;
   color:white;
}
@media only screen and (max-width: 600px) {
  .row{
    flex-direction: column;
  }
}
.gender-selection-box {
  background-color: rgba(0, 0, 0, 0.25);
  display:inline-block;
  text-align:center;
  padding: 50px;
  margin:20px;
  color:white;
  border-radius: 10px;
  
  border: 1px solid #07458b;
  
  backdrop-filter: blur (2px);
  -webkit-backdrop-filter: blur(2px);
  transition: all 1s ease-in-out;
}
.gender-selection-box:hover{
   box-shadow: 0 10px 32px 0 rgba(31, 38, 135, 0.37 );
  
  transition: all 1s ease-in-out;
}

.image-gender-selection {
  width: 200px;
}

nav {
  margin:auto !important;
  text-align:center !important;
  position: fixed;
  z-index: 2;
  background-color:rgba(0, 0, 0, 0.25);
   -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  justify-content: center;
  align-items: center;
  width:100%;
  margin:0 !important;
  padding-bottom:10px !important;
  padding-top: 10px !important;
}

footer {
  margin:auto;
  text-align:center;
  background-color:rgba(0, 0, 0, 0.25);
  color:white;
}
.small-container {
  width: 1100px;
}
ul {
    list-style: none;
}
label,
input,
textarea {
    display: block;
    width: 100%;
}
span {
    font-weight: 700;
    color: #2a7eca;
    line-height: 35px;
    line-height: 2.5rem;
    font-size: 12px;
    font-size: 0.8rem;
    text-transform: uppercase;
}
input[type="submit"] {
    background-color: #14213d;
    color: white;
    font-weight: 700;
    font-size: 1.2rem;
    border-radius: 5px;
    margin-top: 1.3em;
    border:none;
}


form {
   background-color: rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    padding-top: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    overflow: hidden;
}

input,
textarea {
    width: 100%;
    padding: 9px 20px;
    border: none;
    background-color: #002e7a;
    color: #caf0fe;
    caret-color: #829ab1;
    box-sizing: border-box;
    font-size: 14px;
    font-size: 1rem;
    line-height: 29px;
    line-height: 2rem;
    box-shadow: inset 0 2px 4px 0 rgba(206, 209, 224, 0.2);
    border-radius: 3px;
    line-height: 29px;
    line-height: 2rem;
}
