<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/about.css">
  <link rel="stylesheet" href="../static/style.css">
  <title>Skyline | About</title>
</head>
<body>
     <!--Navbar-->
      <header>  
    <!--Logo here -->
        <nav>
           <ul class="list-items">
              <li><a class="underline" href="/home">Home</a></li>
              <li><a class="underline" href="/men">Men</a></li>
             <li><a class="underline" href="/woman">Women</a></li>
             <li><a class="underline" href="/other">Other</a></li>
          </ul>
        </nav>
      </header>
  <br><br><br><br><br>
<div style="margin:auto;color:white;">
  <h1 style="color:white;text-align:center;">About us</h1>
  <h2></h2>
    <p style="">For as long as we can remember, we have been wondering what the correct outfit is for the current weather. </p>
    <h2>The Creators</h2>
    <div class="creators-card">
      <h1 class="creators-name">
        
      </h1>
    </div>
    <div class="creators-card">
      <h1 class="creators-name">
        
      </h1>
    </div>
    <div class="creators-card">
      <h1 class="creators-name">
        
      </h1>
    </div>
    <div class="creators-card">
      <h1 class="creators-name">
      </h1>
    </div>
  <footer>
      <br>
     <ul>
       <li>
         <a href="/home">Home</a>
       </li>
       <li>
         <a href="/contact">Contact</a>
       </li>
        <li>
          <a href="/about">About</a>
        </li>
      </ul>
      <br>
    </footer>
</div>
</body>
</html>

