<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="../static/style.css">
  <title>Skyline | Contact</title>
</head>
<body>
     <!--Navbar-->
      <header>  
    <!--Logo here -->
        <nav>
           <ul class="list-items">
              <li><a class="underline" href="./home">Home</a></li>
              <li><a class="underline" href="./men">Men</a></li>
             <li><a class="underline" href="./woman">Women</a></li>
          </ul>
        </nav>
      </header>
  <div class="container">



       <div class="small-container row">
        <div class="one-of-two">
          <img class="hero-home-image"src="../static/undraw_contact_us_re_4qqt.svg" data-aos="fade" data-aos-duration="1000" data-aos-delay="350"></div>
        <div class="one-of-two">
           <form>
        <ul>
            <li>
                <label for="name"><span>Name </span></label>
                <input type="text" id="name" name="user_name">
            </li>
            <li>
                <label for="mail"><span>Email</span></label>
                <input type="email" id="mail" name="user_email">
            </li>
            <li>
                <label for="msg"><span>Message</span></label>
                <textarea rows="4" cols="50"></textarea>
            </li>
            <li>
                <input type="submit">
            </li>
        </ul>
    </form>
                
        </div>
      </div>
  </div>
  
</body>
</html>