<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skyline | Home Page</title>
    <link rel="stylesheet" href="../static/style.css">
    <script src="../static/script.js"></script>
  </head>
  <body>
    <!--Navbar-->
      <header>  
    <!--Logo here -->
        <nav>
           <ul class="list-items">
              <li><a class="underline" href="./home.html">Home</a></li>
              <li><a class="underline" href="./men.html">Men</a></li>
             <li><a class="underline" href="./woman.html">Women</a></li>
          </ul>
        </nav>
      </header>
      <div class="row">
<!--         <div class="hero-section">
        <img class="hero-home-image"src="../static/undraw_waiting__for_you_ldha.svg"> 
          <h1 class="hero-text">Worried about what to wear...? Scared you may be too hot or too cold? Fear not child! daddy is here lmao  </h1>
             </div>
          <a class="good-button"href="./men.html">Check it out!</a> -->
        <div class="one-of-two">
          <img class="hero-home-image"src="../static/undraw_waiting__for_you_ldha.svg">        </div>
        <div class="one-of-two">
          <h1 class="hero-text">Worried about what to wear...? Scared you may be too hot or too cold? Fear not child! daddy is here lmao  </h1>
          <a class="good-button"href="#gender-selection-thing">Check it out!</a>
        </div>
      </div>

    <div id="gender-selection-thing">
      <h1>Welcome! Please choose which type of outfits you would like to generate</h1>
         <div class="gender-selection-box">
           <h1>Man</h1>
         </div>
           
    </div>
  </body>
</html>
