<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/style.css">
  <script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js">
  </script>
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>
  <title>Skyline | Woman</title>
</head>
<body>
  <!--Navbar-->
      <header>  
    <!--Logo here -->
        <nav>
           <ul class="list-items">
              <li><a class="underline" href="/home">Home</a></li>
              <li><a class="underline" href="/men">Men</a></li>
             <li><a class="underline" href="/woman">Women</a></li>
             <li><a class="underline" href="/other">Other</a></li>
          </ul>
        </nav>
      </header>
  <div class="container" style="color: white;">
    <h1 style="color: white;"><span class="green-highlight">Women </span>Clothing Recommendation</h1>
    <br>
    <p>Your Location: </p> 
    <br>
    <p id="location"></p>
    <br>
    <ul id="myList">
      
    </ul>

  </div>
  <script src="../static/main.js">
  </script>
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>
  <footer>
      <br>
     <ul>
       <li>
         <a href="/home">Home</a>
       </li>
       <li>
         <a href="/contact">Contact</a>
       </li>
        <li>
          <a href="/about">About</a>
        </li>
      </ul>
      <br>
    </footer>
</body>
</html>